{%  extends '::base.html.twig' %}
{% block body %}
	<div class="row wrapper border-bottom white-bg page-heading ibox-content">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage_index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ path('company_index') }}">Companies</a>
                </li>
                <li>
                	{{ company.name }} ({{ company.marketId }})
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-3">
                            	<h2 class="font-bold m-b-xs">
                                    {{ company.name }} ({{ company.marketId }})
                                </h2>
                                <div class="m-t-md">
                                    <h2 class="product-main-price">{{ price }} zł</h2>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3>Price history</h3>
                                <canvas id="company-price-chart" width="300" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <h1>Annual reports</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Report</th>
                                    <th>Income</th>
                                    <th>Net Profit</th>
                                    <th>Op. Net Profit</th>
                                    <th>Book Value</th>
                                    <th>Assets</th>
                                    <th>Liabilities</th>
                                    <th>Current Assets</th>
                                    <th>Current Liabilities</th>
                                    <th>Shares #</th>
                                </tr>
                            </thead>
                            <tbody id="annualReports">
                                {% for report in annualReports %}
                                    <tr
                                        {% if loop.index > 5 %}
                                            class="collapse reports-collapsed"
                                        {% endif %}
                                    >
                                        <td>{{ report }}</td>
                                        <td>{{ report.income|report_price }}</td>
                                        <td>{{ report.netProfit|report_price }}</td>
                                        <td>{{ report.operationalNetProfit|report_price }}</td>
                                        <td>{{ report.bookValue|report_price }}</td>
                                        <td>{{ report.assets|report_price }}</td>
                                        <td>{{ report.liabilities|report_price }}</td>
                                        <td>{{ report.currentAssets|report_price }}</td>
                                        <td>{{ report.currentLiabilities|report_price }}</td>
                                        <td>{{ report.sharesQuantity }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a data-toggle="collapse" href=".reports-collapsed">more/less</a>
                        <hr>
                        <h3><a href="{{ path('report_add') }}"><i class="fa fa-plus"></i> add report</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <h2>Last 5 quarterly reports</h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Report</th>
                                <th>Income</th>
                                <th>Net Profit</th>
                                <th>Op. Net Profit</th>
                                <th>Book Value</th>
                                <th>Assets</th>
                                <th>Liabilities</th>
                                <th>Current Assets</th>
                                <th>Current Liabilities</th>
                                <th>Shares #</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for report in quarterlyReports %}
                                <tr>
                                    <td>{{ report }}</td>
                                    <td>{{ report.income|report_price }}</td>
                                    <td>{{ report.netProfit|report_price }}</td>
                                    <td>{{ report.operationalNetProfit|report_price }}</td>
                                    <td>{{ report.bookValue|report_price }}</td>
                                    <td>{{ report.assets|report_price }}</td>
                                    <td>{{ report.liabilities|report_price }}</td>
                                    <td>{{ report.currentAssets|report_price }}</td>
                                    <td>{{ report.currentLiabilities|report_price }}</td>
                                    <td>{{ report.sharesQuantity }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <h3><small><a href="{{ path('report_add') }}"><i class="fa fa-plus"></i> add report</a></small></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Dividends</h1>
                                <canvas id="company-dividends-chart" width="300" height="110"></canvas>
                                <h2>Dividends history</h2>
                                {% for dividend in dividends %}
                                    <div class="col-lg-12">{{ dividend }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

    <script>
        var priceChartContext = document.getElementById("company-price-chart").getContext('2d');

        var priceChart = new Chart(priceChartContext, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Price'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        {% for pastPrice in prices %}
            priceChart.data.labels[{{ loop.index0 }}] = '{{ pastPrice.identifier|date("Y-m-d") }}';
            priceChart.data.datasets[0].data[{{ loop.index0 }}] = {{ pastPrice }};
        {% endfor %}

        priceChart.update();
    </script>


    <script>
        var dividendChartContext = document.getElementById("company-dividends-chart").getContext('2d');

        var dividendChart = new Chart(dividendChartContext, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Dividend Rate'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                },
            }
        });

        {% for dividend in dividends %}
            dividendChart.data.labels[{{ loop.index0 }}] = '{{ dividend.periodTo|date("Y") }}';
            dividendChart.data.datasets[0].data[{{ loop.index0 }}] = {{ dividend.rate }};
        {% endfor %}

        dividendChart.update();
    </script>
{% endblock %}
