{%  extends '::base.html.twig' %}
{% block body %}
    <div class="row wrapper border-bottom white-bg page-heading ibox-content">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('homepage_index') }}">Home</a>
                </li>
                <li>
                    Companies
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content">
    	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>GPW Market ID</th>
                            <th>Full Name</th>
                            <th>Current Price</th>
                            <th>C/Z Last Year</th>
                            <th>C/Z Last 4Q</th>
                            <th>C/WK Last Year</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        {% for company in companies %}
                            <tr>
                                <th scope="row">
                                    <a href="{{ path('company_get', {'marketId': company.data.marketId}) }}">
                                        {{ company.data.marketId }} <small>({{ company.data.longMarketId }})</small>
                                    </a>
                                </th>
                                <td>{{ company.data.name }}</td>
                                <td>{{ company.price }}</td>
                                <td>{{ company.CZ_last_year }}</td>
                                <td>{{ company.CZ_last_4q }}</td>
                                <td>{{ company.CWK_last_year|raw }}</td>
                                <td>
                                    <a href="{{ path('company_get', {'marketId': company.data.marketId}) }}">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
    
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
